.button {
    inline-size: 3.875rem;
    block-size: 3.875rem;
    border-radius: 50%;
    border: none;
    transition: background-color .1s ease;
    font-size: 1rem;
    font-weight: bold;
}

.white {
    background-color: #F1F3F5;
    box-shadow: 4px 4px 5px #DEE0E3, -4px -4px 5px #FFFFFF;
    color: #627785;
}

.white:active {
    background-color: #CDD5DB;
}

.light-blue {
    background-color: #D5D6E9;
    box-shadow: 4px 4px 4px #D6C9DF, -4px -4px 4px #FFFFFF;
    color: #111C81;
}

.light-blue:active {
    background-color: #7F87D4;
}

.orange {
    background-color: #FE9505;
    box-shadow: 4px 4px 4px #DEBF81, -4px -4px 4px #FFFFFF;
    color: #FFFFFF;
}

.orange:active {
    background-color: #DD922B;
}

.blue {
    background: #2D41F5;
    box-shadow: 4px 4px 5px #6976E9, -4px -4px 3px #FFFFFF;
    color: #FFFFFF;
}

.blue:active {
    background: #5563E6;
}
